In [ ]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from orm.main import User, Address, Base

# Подключение к PostgreSQL
engine = create_engine(
    "postgresql://postgres:postgres@localhost:5432/postgres",
    echo=True
)

# Создаем таблицы
Base.metadata.create_all(engine)

session_factory = sessionmaker(bind=engine)

2025-11-22 13:46:20,066 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2025-11-22 13:46:20,071 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-11-22 13:46:20,072 INFO sqlalchemy.engine.Engine select current_schema()
2025-11-22 13:46:20,072 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-11-22 13:46:20,072 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2025-11-22 13:46:20,072 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-11-22 13:46:20,077 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-11-22 13:46:20,078 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-11-22 13:46:20,078 INFO sqlalchemy.engine.Engine [generated in 0.00061s] {'table_name': 'users', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-11-22 13:46:20,082 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-11-22 13:46:20,084 INFO sqlalchemy.engine.Engine [cached since 0.003872s ago] {'table_name': 'addresses', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-11-22 13:46:20,086 INFO sqlalchemy.engine.Engine COMMIT

In [ ]:
with session_factory() as session:
    users_data = [
        {"username": "Boris Muratshin", "email": 'muratshinboris@gmail.com'},
        {"username": "Alexey Kuzmin",   "email": 'lehakuz@gmail.com'},
        {"username": "Alina Trinz",     "email": 'coolalina@gmail.com'},
        {"username": "Ekaterina Nixon", "email": 'nixonkat@gmail.com'},
        {"username": "Donald Trump",    "email": 'realdonald@gmail.com'}
    ]

    users = []
    for user_data in users_data:
        user = User(username=user_data["username"], email=user_data["email"])
        users.append(user)
        session.add(user)
        print(f"Создан пользователь: {user.username}")

    session.commit()
    addresses_data = [
        {"street": "Michurina 43a", "city": "Yekaterinburg", "country": "Russia"},
        {"street": "Lenina 81",     "city": "Yekaterinburg", "country": "Russia"},
        {"street": "Taticheva 50",  "city": "Yekaterinburg", "country": "Russia"},
        {"street": "Tokarey 1",     "city": "Yekaterinburg", "country": "Russia"},
        {"street": "Gorykogo 4b",   "city": "Yekaterinburg", "country": "Russia"}
    ]

    for i, address_data in enumerate(addresses_data):
        address = Address(
            user_id=users[i].id,
            street=address_data["street"],
            city=address_data["city"],
            state="",
            zip_code="",
            country=address_data["country"],
            is_primary=True
        )
        session.add(address)
        print(f"Создан адрес для {users[i].username}: {address_data['street']}")

    session.commit()

СОЗДАЕМ 5 ПОЛЬЗОВАТЕЛЕЙ И АДРЕСОВ
Создан пользователь: John Doe
Создан пользователь: Jane Smith
Создан пользователь: Bob Johnson
Создан пользователь: Alice Brown
Создан пользователь: Charlie Wilson
2025-11-22 13:46:25,989 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-11-22 13:46:25,991 INFO sqlalchemy.engine.Engine INSERT INTO users (id, username, email, created_at, updated_at) VALUES (%(id__0)s, %(username__0)s, %(email__0)s, %(created_at__0)s, %(updated_at__0)s), (%(id__1)s, %(username__1)s, %(email__1)s, %(created_at__1)s, %(updated_at__1)s), (%(id__2)s, %(username__2)s, %(email__2)s, %(created_at__2)s, %(updated_at__2)s), (%(id__3)s, %(username__3)s, %(email__3)s, %(created_at__3)s, %(updated_at__3)s), (%(id__4)s, %(username__4)s, %(email__4)s, %(created_at__4)s, %(updated_at__4)s)
2025-11-22 13:46:25,992 INFO sqlalchemy.engine.Engine [generated in 0.00016s (insertmanyvalues) 1/1 (unordered)] {'created_at__0': datetime.datetime(2025, 11, 22, 13, 46, 25, 991140), 'email__0': 'jdoe@example.com', 'id__0': 'c903eda3-e20b-4b2a-acb9-4e4d9e2dcf60', 'updated_at__0': None, 'username__0': 'John Doe', 'created_at__1': datetime.datetime(2025, 11, 22, 13, 46, 25, 991140), 'email__1': 'jane@example.com', 'id__1': '062658d4-7355-4490-a47d-ee60b9e55d91', 'updated_at__1': None, 'username__1': 'Jane Smith', 'created_at__2': datetime.datetime(2025, 11, 22, 13, 46, 25, 991140), 'email__2': 'bob@example.com', 'id__2': 'eebc3b20-2812-481c-8f74-5e8fb3913d08', 'updated_at__2': None, 'username__2': 'Bob Johnson', 'created_at__3': datetime.datetime(2025, 11, 22, 13, 46, 25, 991140), 'email__3': 'alice@example.com', 'id__3': '02642e9f-299f-432b-949e-c89755ccdd15', 'updated_at__3': None, 'username__3': 'Alice Brown', 'created_at__4': datetime.datetime(2025, 11, 22, 13, 46, 25, 991140), 'email__4': 'charlie@example.com', 'id__4': '8691beb5-b1f6-4f5b-96bd-1d0d630bf8dd', 'updated_at__4': None, 'username__4': 'Charlie Wilson'}
2025-11-22 13:46:25,997 INFO sqlalchemy.engine.Engine COMMIT
5 пользователей создано!
2025-11-22 13:46:26,001 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-11-22 13:46:26,004 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.username AS users_username, users.email AS users_email, users.created_at AS users_created_at, users.updated_at AS users_updated_at
FROM users
WHERE users.id = %(pk_1)s
2025-11-22 13:46:26,005 INFO sqlalchemy.engine.Engine [generated in 0.00086s] {'pk_1': 'c903eda3-e20b-4b2a-acb9-4e4d9e2dcf60'}
Создан адрес для John Doe: 123 Main St
2025-11-22 13:46:26,010 INFO sqlalchemy.engine.Engine INSERT INTO addresses (id, user_id, street, city, state, zip_code, country, is_primary, created_at, updated_at) VALUES (%(id)s, %(user_id)s, %(street)s, %(city)s, %(state)s, %(zip_code)s, %(country)s, %(is_primary)s, %(created_at)s, %(updated_at)s)
2025-11-22 13:46:26,011 INFO sqlalchemy.engine.Engine [generated in 0.00078s] {'id': '0178642a-126c-4a82-8810-a1973ddd6659', 'user_id': 'c903eda3-e20b-4b2a-acb9-4e4d9e2dcf60', 'street': '123 Main St', 'city': 'New York', 'state': '', 'zip_code': '', 'country': 'USA', 'is_primary': True, 'created_at': datetime.datetime(2025, 11, 22, 13, 46, 26, 10113), 'updated_at': None}
2025-11-22 13:46:26,013 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.username AS users_username, users.email AS users_email, users.created_at AS users_created_at, users.updated_at AS users_updated_at
FROM users
WHERE users.id = %(pk_1)s
2025-11-22 13:46:26,014 INFO sqlalchemy.engine.Engine [cached since 0.01094s ago] {'pk_1': '062658d4-7355-4490-a47d-ee60b9e55d91'}
Создан адрес для Jane Smith: 456 Oak Ave
2025-11-22 13:46:26,017 INFO sqlalchemy.engine.Engine INSERT INTO addresses (id, user_id, street, city, state, zip_code, country, is_primary, created_at, updated_at) VALUES (%(id)s, %(user_id)s, %(street)s, %(city)s, %(state)s, %(zip_code)s, %(country)s, %(is_primary)s, %(created_at)s, %(updated_at)s)
2025-11-22 13:46:26,018 INFO sqlalchemy.engine.Engine [cached since 0.007754s ago] {'id': 'f6d40cc8-9796-4ec9-ba2c-8b4c32d9d173', 'user_id': '062658d4-7355-4490-a47d-ee60b9e55d91', 'street': '456 Oak Ave', 'city': 'Los Angeles', 'state': '', 'zip_code': '', 'country': 'USA', 'is_primary': True, 'created_at': datetime.datetime(2025, 11, 22, 13, 46, 26, 17136), 'updated_at': None}
2025-11-22 13:46:26,018 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.username AS users_username, users.email AS users_email, users.created_at AS users_created_at, users.updated_at AS users_updated_at
FROM users
WHERE users.id = %(pk_1)s
2025-11-22 13:46:26,018 INFO sqlalchemy.engine.Engine [cached since 0.01665s ago] {'pk_1': 'eebc3b20-2812-481c-8f74-5e8fb3913d08'}
Создан адрес для Bob Johnson: 789 Pine Rd
2025-11-22 13:46:26,018 INFO sqlalchemy.engine.Engine INSERT INTO addresses (id, user_id, street, city, state, zip_code, country, is_primary, created_at, updated_at) VALUES (%(id)s, %(user_id)s, %(street)s, %(city)s, %(state)s, %(zip_code)s, %(country)s, %(is_primary)s, %(created_at)s, %(updated_at)s)
2025-11-22 13:46:26,023 INFO sqlalchemy.engine.Engine [cached since 0.01301s ago] {'id': '7059d949-07f1-4a6d-80d1-b45622662ed5', 'user_id': 'eebc3b20-2812-481c-8f74-5e8fb3913d08', 'street': '789 Pine Rd', 'city': 'Chicago', 'state': '', 'zip_code': '', 'country': 'USA', 'is_primary': True, 'created_at': datetime.datetime(2025, 11, 22, 13, 46, 26, 18369), 'updated_at': None}
2025-11-22 13:46:26,025 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.username AS users_username, users.email AS users_email, users.created_at AS users_created_at, users.updated_at AS users_updated_at
FROM users
WHERE users.id = %(pk_1)s
2025-11-22 13:46:26,027 INFO sqlalchemy.engine.Engine [cached since 0.02272s ago] {'pk_1': '02642e9f-299f-432b-949e-c89755ccdd15'}
Создан адрес для Alice Brown: 321 Elm St
2025-11-22 13:46:26,030 INFO sqlalchemy.engine.Engine INSERT INTO addresses (id, user_id, street, city, state, zip_code, country, is_primary, created_at, updated_at) VALUES (%(id)s, %(user_id)s, %(street)s, %(city)s, %(state)s, %(zip_code)s, %(country)s, %(is_primary)s, %(created_at)s, %(updated_at)s)
2025-11-22 13:46:26,031 INFO sqlalchemy.engine.Engine [cached since 0.02124s ago] {'id': 'f3639efa-d035-4f97-90b4-81d6d16c8922', 'user_id': '02642e9f-299f-432b-949e-c89755ccdd15', 'street': '321 Elm St', 'city': 'Miami', 'state': '', 'zip_code': '', 'country': 'USA', 'is_primary': True, 'created_at': datetime.datetime(2025, 11, 22, 13, 46, 26, 30607), 'updated_at': None}
2025-11-22 13:46:26,033 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.username AS users_username, users.email AS users_email, users.created_at AS users_created_at, users.updated_at AS users_updated_at
FROM users
WHERE users.id = %(pk_1)s
2025-11-22 13:46:26,033 INFO sqlalchemy.engine.Engine [cached since 0.03017s ago] {'pk_1': '8691beb5-b1f6-4f5b-96bd-1d0d630bf8dd'}
Создан адрес для Charlie Wilson: 654 Maple Dr
2025-11-22 13:46:26,037 INFO sqlalchemy.engine.Engine INSERT INTO addresses (id, user_id, street, city, state, zip_code, country, is_primary, created_at, updated_at) VALUES (%(id)s, %(user_id)s, %(street)s, %(city)s, %(state)s, %(zip_code)s, %(country)s, %(is_primary)s, %(created_at)s, %(updated_at)s)
2025-11-22 13:46:26,037 INFO sqlalchemy.engine.Engine [cached since 0.02822s ago] {'id': 'e9d29b1c-ccff-44ba-b14f-78d60ca18984', 'user_id': '8691beb5-b1f6-4f5b-96bd-1d0d630bf8dd', 'street': '654 Maple Dr', 'city': 'Seattle', 'state': '', 'zip_code': '', 'country': 'USA', 'is_primary': True, 'created_at': datetime.datetime(2025, 11, 22, 13, 46, 26, 37811), 'updated_at': None}
2025-11-22 13:46:26,040 INFO sqlalchemy.engine.Engine COMMIT
5 адресов создано
База данных полностью заполнена